/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

mark {
  color: #000;
  background: #ff0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************
*		COLORS 		   *
************************/

/***********************
*		sizes 		   *
************************/

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 78px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.main {
  height: 100%;
}

.reveal-animation {
  height: 100%;
}

.ui .link {
  text-decoration: none;
}

/***************************/

/*      SEARCH FIELD      */

/**************************/

.search-main {
  position: absolute;
  top: -80px;
  left: 0;
  z-index: 0;
  width: 110%;
  height: 0;
  background-color: #000000;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.search-main.search-show {
  z-index: 1000;
  display: block;
  height: 100%;
  opacity: 0.9;
}

.search-main .form-search {
  position: relative;
  top: 20%;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.search-main .form-search input {
  position: absolute;
  top: -58px;
  left: 100px;
  display: inline-block;
  width: 90%;
  padding: 5px 10px;
  margin: 0;
  font-family: 'Harbour Light';
  font-size: 6em;
  color: #fff;
  background: transparent;
  border: none;
}

.search-main .form-search input:focus {
  outline: 0;
}

.search-field {
  position: relative;
  display: inline-block;
  max-width: 100%;
  border-bottom: 1px solid #fff;
  transition: width 0.3s;
}

.search-icon {
  position: relative;
  display: inline-block;
  width: 1.40em;
  height: 0.8em;
  margin: 0 0em 0em 0em;
  font-family: 'Basic Icons';
  font-size: 4.5em;
  font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 0.3;
  color: #fff;
  text-align: center;
  text-decoration: inherit;
  border-right: 1px solid #fff;
  opacity: 1;
  box-sizing: border-box;
  speak: none;
}

.search-icon:before {
  content: '🔍';
}

.close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  margin: 0;
  font-family: 'Basic Icons';
  font-size: 1.5em;
  font-smoothing: antialiased;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: inherit;
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  speak: none;
}

.close-icon span {
  margin-left: 10px;
  font-size: 0.6em;
  opacity: 0.8;
}

.close-icon:before {
  content: '\e80d';
}

.count {
  margin-top: 40px;
  color: #6D6D6D;
}

.count a {
  float: right;
  margin-right: 20px;
}

.scroll {
  position: relative;
  top: 20%;
  width: 70%;
  max-height: 50%;
  margin: 0 auto;
  overflow: auto;
}

.search-main ::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: #000000;
}

.search-main ::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
}

.search-main ::-webkit-scrollbar-button {
  height: 20px;
  background: #999999;
  border-radius: 40%;
}

.search-results {
  margin-top: 100px;
  columns: 3 100px;
}

.search-results .search-notices a {
  display: block;
  font-family: 'Apercu Medium';
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.search-results .search-notices a:hover {
  text-decoration: underline;
}

/***************************/

/*      AUTOCOMPLETE      */

/**************************/

.ui-autocomplete {
  left: 0 !important;
  z-index: 100;
  display: none;
  float: left;
  max-width: 100%;
  padding: 0 0;
  margin: 0 0 0 0;
  margin-left: 100px;
  overflow: hidden;
  font-family: 'Harbour Light';
  font-size: 3em;
  list-style: none;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  max-width: 100%;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1;
  color: #505050;
  white-space: nowrap;
  background-color: none;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
  color: #ffffff;
  text-decoration: none;
}

/***************************/

/*          Fonts         */

/**************************/

@font-face {
  font-family: 'Harbour Light';
  font-style: normal;
  font-weight: normal !important;
  src: url(../fonts/Harbour-Light.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Apercu Medium';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Apercu-Medium.otf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Apercu Bold';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Apercu-Bold.otf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Plantin Light';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/PlantLight.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Plantin Italique';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/PlantItalique.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Plantin Bold Italique';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/PlantBoldItalique.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

.reveal-animation {
  display: block;
}

.reveal-animation.ng-enter {
  animation: enter_sequence 1s linear;
}

@keyframes enter_sequence {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.account-animation {
  display: block;
}

@keyframes open {
  
}

@keyframes close {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* 
	-------------------------
	|	  	 SLIDER 		|
   	------------------------- 
*/

.animate-slider-container {
  position: relative;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}

.animate-slider {
  height: 100%;
  opacity: 1;
  transition: 1s linear opacity;
}

.animate-slider.ng-hide {
  opacity: 0;
}

.animate-show.ng-hide-add,
.animate-slider.ng-hide-remove {
  display: block!important;
}

/*.animate-slider.ng-animate {
    position: absolute;
    transition: 1s linear all;
}
 
.animate-slider.ng-leave.ng-leave-active,
.animate-slider.ng-enter {
    opacity: 0;
}
.animate-slider.ng-leave,
.animate-slider.ng-enter.ng-enter-active {
    opacity: 1;
}*/

.loading {
  width: 100%;
  height: 100%;
}

.loading.white {
  background: rgba(0, 0, 0, 0.3), url('/images/Blanc.gif') center center no-repeat;
}

.loading.black {
  background: rgba(255, 255, 255, 0.3), url('/images/Noir.gif') center center no-repeat;
}

.intro {
  position: relative;
  top: -80px;
  height: 100%;
  background: url('../../images/Slide_Before.jpg') center center no-repeat;
  background-color: #000000;
}

a {
  cursor: pointer;
}

header {
  position: relative;
  top: -80px;
  right: 0;
  left: 0;
  z-index: 1000;
  display: block;
  min-height: 78px;
  margin-bottom: 20px;
  font-family: 'Apercu Medium';
  font-size: 12px;
  color: #d5d5d5;
  background-color: #000000;
}

header.show {
  position: fixed;
  top: 0;
}

header a {
  color: #d5d5d5;
}

header .nav-brand {
  display: block;
  float: left;
  padding: 15px 15px 0 15px;
  margin: 0 17px;
  font-size: 45px;
}

header .nav-brand a {
  text-decoration: none;
}

header nav {
  display: block;
  float: right;
  margin: 0 17px;
}

header nav > ul {
  display: inline-block;
  list-style: none;
}

header nav > ul > li {
  display: inline-block;
}

header nav > ul > li > a {
  display: block;
  padding: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav > ul > li > a.active {
  text-decoration: underline;
}

header nav > ul > li > a.mute {
  color: #8d8d8d;
}

header nav > ul > li > a:hover,
header nav > ul > li > a:focus {
  text-decoration: underline;
}

header nav .caret {
  border-top-color: #d5d5d5;
}

header.white {
  color: #000000;
  background-color: #ffffff;
}

header.white a {
  color: #000000;
}

header.white .caret {
  border-top-color: #000000;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
}

a.dropdown-toggle {
  position: relative;
  display: inline-block;
  margin: 17px;
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  right: 40px;
  display: none;
  float: right;
  padding: 5px 0;
  margin: -15px 0 0;
  list-style: none;
}

.dropdown-menu > li {
  cursor: pointer;
}

.dropdown-menu > li:hover {
  text-decoration: underline;
}

.close {
  position: absolute;
  top: 20px;
  left: 35px;
  display: block;
  float: left;
  margin: 0;
  font-family: 'Basic Icons';
  font-size: 1.5em;
  font-smoothing: antialiased;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: inherit;
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  speak: none;
}

.close span {
  margin-left: 10px;
  font-size: 0.6em;
  opacity: 0.8;
}

.close:before {
  content: '\e80d';
}

.help {
  top: 40px !important;
  padding-top: 0 !important;
  margin-top: 0;
}

.help h2 {
  font-family: 'Apercu bold';
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.5;
  text-transform: uppercase;
}

.help p {
  font-family: 'Plantin Light';
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}

.container {
  padding-right: 22.5px;
  padding-left: 22.5px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.row {
  margin-right: -22.5px;
  margin-left: -22.5px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 22.5px;
  padding-left: 22.5px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666666666666%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666666666666%;
}

.col-xs-pull-10 {
  right: 83.33333333333334%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666666666666%;
}

.col-xs-pull-7 {
  right: 58.333333333333336%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666666666667%;
}

.col-xs-pull-4 {
  right: 33.33333333333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.666666666666664%;
}

.col-xs-pull-1 {
  right: 8.333333333333332%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666666666666%;
}

.col-xs-push-10 {
  left: 83.33333333333334%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666666666666%;
}

.col-xs-push-7 {
  left: 58.333333333333336%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666666666667%;
}

.col-xs-push-4 {
  left: 33.33333333333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.666666666666664%;
}

.col-xs-push-1 {
  left: 8.333333333333332%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666666666666%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666666666666%;
}

.col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}

.col-xs-offset-1 {
  margin-left: 8.333333333333332%;
}

@media (min-width: 768px) {
  .container {
    width: 765px;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 985px;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 1045px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Apercu Medium';
}

h1 {
  margin: 0;
  font-family: 'Harbour Light';
  font-size: 100px;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-family: 'Harbour Light';
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

h4 {
  font-family: 'Apercu Bold';
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.line {
  padding: 20px;
  margin: 20px;
}

.form {
  padding: 20px;
}

.form .field {
  position: relative;
  padding: 10px 0;
}

.form .field input {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  line-height: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.form .field input:focus {
  outline: 0;
}

.form .field .border-field {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  padding: 0;
  margin-bottom: 20px;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

.form .button {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 40px;
  color: #d5d5d5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #000000;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all .25s ease;
  user-select: none;
}

.form .button:hover,
.form .button:focus {
  color: #fff;
  text-decoration: underline;
}

.account {
  position: relative;
  top: 78px;
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 10px;
  margin-left: 50px;
}

.icon.facebook {
  background: url('../../images/facebook2.png') no-repeat 0 0;
}

.icon.google {
  background: url('../../images/google2.png') no-repeat 0 0;
}

.icon.twitter {
  background: url('../../images/twitter2.png') no-repeat 0 0;
}

.icon:after {
  margin-left: 20px;
}

.or {
  padding: 10px;
  border: 1px solid #000000;
}

ng-view {
  position: relative;
}

.slider {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  background-color: #000000;
}

.slider .slider-control {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 50px;
  margin-left: -10px;
}

.slider img {
  margin: 0 auto;
}

.slider .slider-control {
  z-index: 100;
}

.slider .slider-control button {
  position: relative;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  background: #d5d5d5;
  border: 0;
  border-radius: 50%;
  outline: 0;
  opacity: 0.2;
  box-sizing: border-box;
  transition: all .25s ease;
  user-select: none;
}

.slider .slider-control button:hover,
.slider .slider-control button.active {
  color: #fff;
  opacity: 0.9;
}

.slider .inner-slide {
  position: relative;
  top: 15%;
}

.slider .inner-slide h1 {
  margin-bottom: 20px;
  font-family: 'Harbour Light';
  font-size: 72px;
  text-align: left;
}

.slider .inner-slide p {
  padding-left: 0;
  font-family: 'Plantin Light';
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: justify;
}

.slider .inner-slide br {
  line-height: 52px;
}

.slider .inner-slide .btn {
  position: relative;
  display: block;
  padding: 30px 15px;
  margin-top: 40px;
  margin-right: 45px;
  font-family: 'Apercu Bold';
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition: all 0.3s linear;
}

.slider .inner-slide .btn.bottom {
  margin-top: 100%;
  margin-right: 0;
}

.slider .inner-slide .btn:hover {
  color: #000000;
  background-color: #fff;
}

br {
  line-height: 25px;
}

.bg-black {
  background-color: #000000;
}

.separate {
  display: block;
  margin-bottom: 40px;
  font-family: 'Harbour Light';
  font-weight: normal;
  text-align: center;
}

.echo {
  margin: 40px 0;
  margin-top: 100px;
  margin-bottom: 129px;
}

.echo .echo-content {
  margin-top: 40px;
}

.echo h3 {
  padding-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
  text-transform: capitalize;
}

.echo h4 {
  padding-top: 40px;
  margin: 0;
  font-family: 'Plantin Bold Italique';
  font-size: 22px;
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;
  border-top: 1px #dcdcde solid;
}

.echo h5 {
  margin: 0;
  margin-top: 6px;
  font-family: 'Apercu Bold';
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.echo .echo-container {
  margin-top: 60px;
}

.echo .echo-excerpt {
  margin: 38px 0;
  font-family: 'Plantin Italique';
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.echo .echo-read {
  font-family: 'Apercu Bold';
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

.echo .echo-read.grey {
  color: #8b8b8b !important;
}

.echo .echo-read.marge {
  padding: 0;
  margin: 0;
  margin-top: 90px;
}

.echo .echo-autor {
  margin-top: 40px;
  font-family: 'Plantin Light';
  font-size: 15px;
  font-weight: normal;
  color: #a3a3a3;
}

.echo .echo-autor > div {
  margin: 30px 0;
  line-height: 20px;
}

.echo .echo-last {
  color: #ffffff;
}

.echo .echo-last .echo-read {
  color: #ffffff;
}

.see-more {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Apercu Medium';
  font-size: 15px;
  font-weight: normal;
  color: #8b8b8b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.see-more:hover {
  text-decoration: underline;
}

.arrow {
  display: inline-block;
  margin-top: 10px;
  transform: rotate(90deg);
}

.bg-grey {
  background-color: #f4f4f4;
}

.notices-grid {
  padding: 40px 0;
}

.notices-grid .notice-col {
  margin-bottom: 40px;
  background-color: #ffffff;
  border: 4px solid #f4f4f4;
  transition: border 0.2s linear;
}

.notices-grid .notice-col:hover {
  border: 4px solid #000000;
}

.notices-grid h4 {
  height: 20px;
  padding: 0 15px;
  margin-top: 66px;
  margin-bottom: 22px;
  overflow: hidden;
  font-size: 19px;
  font-weight: normal;
  line-height: 20px;
  text-transform: capitalize;
}

.notices-grid h3 {
  margin-bottom: 0;
  font-weight: normal;
}

.notices-grid h5 {
  padding: 0 0;
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Harbour Light';
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #c4c4c4;
  text-align: center;
  text-transform: capitalize;
}

.notices-grid a {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 30px;
  font-family: 'Apercu Bold';
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.notices-grid a span {
  padding-left: 5px;
  font-size: 16px;
  color: #c4c4c4;
}

.echo-main {
  position: relative;
  height: 100%;
  color: #ffffff;
  background-color: #000000;
  filter: grayscale(100%);
}

.echo-main .title-rotate {
  position: relative;
  left: -22px;
  float: left;
  margin-top: 24%;
  transform: rotate(-45deg);
}

.echo-main .title-rotate span {
  display: block;
  transform: rotate(45deg);
}

.echo-main .title-rotate .rotate-subword {
  position: absolute;
  top: 0;
  float: left;
  margin: 0 20px;
}

.echo-main h1 {
  font-family: 'Harbour Light';
  font-size: 53px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.echo-main h2 {
  float: right;
  margin-top: 35%;
  font-family: 'Harbour Light';
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.echo-main .echo-nav {
  position: absolute;
  bottom: 80px;
  font-family: 'Harbour Light';
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5;
  text-transform: capitalize;
}

.echo-main .echo-nav .margy {
  margin-top: 15px;
}

.echo-main .favorite {
  margin-top: 30px;
}

.echo-content .echo-autor {
  margin-top: 80px;
  font-family: 'Plantin Light';
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #a3a3a3;
}

.echo-content .echo-autor > div {
  margin: -2px 0;
  text-align: justify;
}

.echo-content .echo-autor h4 {
  margin-top: 18px;
  font-family: 'Plantin Bold Italique';
  font-size: 22px;
  text-align: left;
  text-transform: capitalize;
}

.echo-content h3 {
  font-weight: normal;
  text-align: left;
}

.edito {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: 'Plantin Italique';
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.edito .floating {
  position: absolute;
  left: -40px;
  z-index: 10;
  padding-right: 20px;
  text-align: justify;
  opacity: 1;
}

.edito .transparent {
  z-index: -1;
  text-align: justify;
  opacity: 0;
}

.edito h3 {
  font-family: 'Plantin Bold Italique';
  font-size: 22px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.5px;
}

.echo-body {
  height: 590px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: 'Plantin Light';
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-align: justify;
  column-count: 3;
  column-gap: 45px;
}

.echo-body h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Apercu Bold';
  font-size: 15px;
  font-weight: normal;
}

.echo-body h2 {
  margin-top: 0;
  font-family: 'Apercu Bold';
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.echo-cursor {
  margin: 0 22.5px;
  font-family: 'Apercu Medium';
  font-size: 30px;
  font-weight: normal;
  color: #272727;
  text-decoration: none;
}

.echo-cursor.active {
  color: #ffffff;
}

.notice {
  margin-bottom: 80px;
  color: #000000;
}

.notice h1 {
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 70%;
  font-family: 'Harbour Light';
  font-size: 120px;
  font-weight: normal;
  line-height: 234px;
  color: #000000;
  text-align: right;
  text-transform: capitalize;
  pointer-events: none;
}

.notice img {
  position: relative;
  z-index: 0;
  opacity: 0.3;
  filter: grayscale(100%);
  transition: all 0.5s linear;
}

.notice img:hover {
  z-index: 100;
  opacity: 1;
  filter: none;
}

.notice .info-header {
  padding: 20px 0;
  border-bottom: #dcdcde solid 1px;
}

.notice .info h2 {
  margin: 28px 0;
  font-family: 'Apercu Bold';
  font-size: 15px;
  font-weight: normal;
  color: #dcdcde;
  text-transform: uppercase;
}

.notice .info .values {
  font-family: 'Plantin Light';
  font-size: 15px;
  font-weight: normal;
  color: #000000;
}

.notice .content {
  padding-top: 200px;
}

.notice .favorite {
  top: 60px;
  float: right;
}

.suggest {
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
}

.suggest h3 {
  margin-bottom: 0;
  font-weight: normal;
}

.suggest .separate {
  margin-bottom: 0;
}

.image-grid {
  height: 360px;
  margin-top: 40px;
}

.image-grid a {
  display: block;
  margin: 15px;
  filter: grayscale(100%);
  transition: all 0.5s linear;
}

.image-grid a:hover {
  filter: none;
}

.image-grid .row {
  margin-right: 0;
  margin-left: 0;
}

.favorite {
  position: relative;
  display: block;
  padding-left: 15px;
  font-family: 'Apercu Medium';
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
}

.favorite.add {
  color: #dcdcde !important;
  background: url('/images/add.png') 0 center no-repeat;
}

.favorite.remove {
  color: #000000;
  background: url('/images/valid_n.png') 0 center no-repeat;
}

.favorite.remove.white {
  color: #ffffff;
  background: url('/images/valid_w.png') 0 center no-repeat;
}

.favorite:hover {
  text-decoration: underline;
}

.icon-hide {
  display: relative;
  float: right;
  padding: 15px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 20px;
  cursor: pointer;
  background: url('/images/add.png') 0 center no-repeat;
  transform: rotate(45deg);
  transition: transform 0.3s linear;
}

.icon-hide.toggle {
  transform: none;
}

.notice-echo {
  margin-top: 258px;
}

.notice-echo h2 {
  font-family: 'Apercu Bold';
  font-size: 15px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.5;
}

.notice-echo p {
  font-family: 'Plantin Light';
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}

.hidden {
  display: none;
}

.dashboard-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper-left {
  position: absolute;
  z-index: 10;
  float: left;
  width: 220px;
  height: 100%;
  padding-left: 45px;
  margin-right: 40px;
  font-weight: normal;
  background-color: #f4f4f4;
}

.wrapper-left .dashboard-menu {
  margin: 0;
  font-family: 'Apercu Medium';
  font-size: 14px;
  color: #dcdcdc;
}

.wrapper-left .dashboard-menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper-left .dashboard-menu > ul > li {
  padding: 0;
  margin: 30px 0;
}

.wrapper-left .dashboard-menu > ul > li a {
  font-family: 'Apercu Bold';
  font-size: 15px;
}

.wrapper-left .dashboard-menu > ul > li a.active {
  color: #000000;
}

.wrapper-left .dashboard-menu > ul > li a.active .caret {
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-bottom: 0 dotted;
  border-left: 5px solid transparent;
}

.wrapper-left .dashboard-menu > ul > li > ul {
  display: none;
  padding: 0;
  margin-left: 25px;
  list-style: none;
}

.wrapper-left .dashboard-menu > ul > li > ul li {
  margin: 15px 0;
  cursor: pointer;
}

.wrapper-left .dashboard-menu > ul > li > ul li.active {
  color: #000000;
}

.wrapper-left .dashboard-menu > ul > li > ul.active {
  display: block;
}

.wrapper-left .caret {
  margin-left: 6px;
  border-top: 5px solid transparent;
  border-right: 0 dotted;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #dcdcdc;
}

.wrapper-right {
  position: relative;
  z-index: 0;
  height: 100%;
  font-weight: normal;
}

.wrapper-right .dashboard-header {
  position: relative;
  width: 98%;
}

.wrapper-right .dashboard-header .head {
  position: relative;
  margin-right: 40px;
  margin-left: 265px;
  border-bottom: 1px solid #f4f4f4;
}

.wrapper-right .dashboard-header h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Apercu Bold';
  font-size: 15px;
}

.wrapper-right .dashboard-header .display {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Apercu Medium';
  font-size: 12px;
}

.wrapper-right .dashboard-header .display a {
  margin: 0 20px;
  color: #eeeeee;
}

.wrapper-right .dashboard-header .display a.active {
  color: #000000;
}

.wrapper-right .favorites {
  padding-top: 60px;
  padding-left: 265px;
  margin-right: 40px;
  font-weight: normal;
}

.wrapper-right .favorites .text {
  display: block;
  color: #000000;
  text-decoration: none;
}

.wrapper-right .favorites .text h2 {
  margin-top: 0;
  font-family: 'Plantin Bold Italique';
  font-size: 22px;
}

.wrapper-right .favorites .text h3 {
  font-family: 'Plantin Italique';
  font-size: 20px;
  text-align: left;
}

.wrapper-right .favorites .text p {
  font-family: 'Plantin Italique';
  font-size: 20px;
}

.wrapper-right .favorites .img {
  width: 100%;
  margin: 40px 0;
}

.wrapper-right .favorites .img a {
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: #000000;
}

.wrapper-right .favorites .img a > div {
  margin: 0 auto;
  filter: grayscale(100%);
  transition: filter 0.5s linear;
}

.wrapper-right .favorites .img a > div:hover {
  filter: none;
}

.wrapper-right .favorites .img a h2 {
  position: absolute;
  top: 40px;
  width: 100%;
  font-family: 'Harbour Light';
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.wrapper-right .favorites .img-notices {
  height: 120px;
}

.wrapper-right .favorites .img-notices a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: #000000;
}

.wrapper-right .favorites .img-notices a > div {
  position: relative;
  width: 100%;
  height: 120px;
  max-height: 120px;
  filter: grayscale(100%);
  transition: filter 0.5s linear;
}

.wrapper-right .favorites .img-notices a > div:hover {
  filter: none;
}

.directory {
  width: 100%;
  height: 100%;
  background: url('/images/annuaire0.jpg') top center no-repeat;
  transition: background 0.5s linear;
}