
/***************************/
/*      AUTOCOMPLETE      */
/**************************/

.ui-autocomplete {
	font-family: 'Harbour Light';
	font-size: 3em;
	z-index: 100;
	float: left;
	display: none;
	padding: 0 0;
	margin: 0 0 0 0;
	list-style: none;
	overflow: hidden;
	max-width: 100%;
	margin-left: 100px;
	left: 0 !important;

  	.ui-menu-item > a.ui-corner-all {
  		max-width: 100%;
		display: block;
		padding: 3px 15px;
		clear: both;
		font-weight: normal;
		line-height: 1;
		color: #505050;
		white-space: nowrap;
		background-color: none;
 
	    &.ui-state-hover, &.ui-state-active, &.ui-state-focus {
			color: #ffffff;
			text-decoration: none;
	    }

  	}
}
