.dashboard-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper-left {
	background-color: #f4f4f4;
	float: left;
	width: 220px;
	margin-right: 40px;
	height: 100%;
	padding-left: 45px;
	position: absolute;
	z-index: 10;
	font-weight: normal;
	.dashboard-menu {
		margin: 0;
		font-family: 'Apercu Medium';
		font-size: 14px;
		color: #dcdcdc;
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			> li {
				padding: 0;
				margin: 30px 0;
				a {
					font-family: 'Apercu Bold';
					font-size: 15px;
					&.active {
						color: #000000;
						.caret {
							border-top: 5px solid #000;
							border-right: 5px solid transparent;
							border-bottom: 0 dotted;
							border-left: 5px solid transparent;
						}
					}
				}
				> ul {
					display: none;
					margin-left: 25px;
					padding: 0;
					list-style: none;
					li {
						margin: 15px 0;
						cursor: pointer;
						&.active {
							color: #000000;
						}
					}
					&.active {
						display: block;
					}
				}
			}
		}
	}
	.caret {
		border-top: 5px solid transparent;
		border-left: 5px solid #dcdcdc;
		border-bottom: 5px solid transparent;
		border-right: 0 dotted;
		margin-left: 6px;
	}
}

.wrapper-right {
	font-weight: normal;
	position: relative;
	height: 100%;
	z-index: 0;
	.dashboard-header {
		position: relative;
		width: 98%;
		.head {
			position: relative;
			margin-left: 265px;
			margin-right: 40px;
			border-bottom: 1px solid #f4f4f4;
		}
		h2 {
			font-family: 'Apercu Bold';
			font-size: 15px;
			margin-top: 30px;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		.display {
			margin-top: 30px;
			margin-bottom: 30px;
			font-family: 'Apercu Medium';
			font-size: 12px;
			a {
				&.active {
					color: #000000;
				}
				color: #eeeeee;
				margin: 0 20px;
			}
		}
	}
	.favorites {
		font-weight: normal;
		padding-top: 60px;
		padding-left: 265px;
		margin-right: 40px;
		.text {
			display: block;
			text-decoration: none;
			color: #000000;
			h2 {
				margin-top: 0;
				font-family: 'Plantin Bold Italique';
				font-size: 22px;
			}
			h3 {
				font-family: 'Plantin Italique';
				font-size: 20px;
				text-align: left;
			}
			p {
				font-family: 'Plantin Italique';
				font-size: 20px;
			}	
		}
		.img {
			width: 100%;
			margin: 40px 0;
			a {
				display: block;
				text-decoration: none;
				background-color: #000000;
				width: 100%;
				> div {
					margin: 0 auto;
					filter: grayscale(100%);
					transition: filter 0.5s linear;
					&:hover {
						filter: none;
					}
				}
				h2 {
					top: 40px;
					position: absolute;
					color: #ffffff;
					width: 100%;
					text-align: center;
					font-family: 'Harbour Light';
					font-size: 25px;
					text-transform: uppercase;
				}
			}
		}
		.img-notices {
			height: 120px;
			a {
				display: block;
				text-decoration: none;
				background-color: #000000;
				width: 100%;
				position: relative;
				> div {
					position: relative;
					height: 120px;
					max-height: 120px;
					width: 100%;
					transition: filter 0.5s linear;
					filter: grayscale(100%);
					&:hover {
						filter: none;
					}
				}
			}
		}
	}
}
