br {
	line-height: 25px;
}
.bg-black {
	background-color: #000000;
}

.separate {
	text-align: center;
	display: block;
	font-family: 'Harbour Light';
	font-weight: normal;
	margin-bottom: 40px;
}

.echo {
	margin: 40px 0;
	margin-top: 100px;
	margin-bottom: 129px;
	.echo-content {
		margin-top: 40px;
	}
	h3 {
		text-transform: capitalize; 
		padding-top: 10px;
		margin-bottom: 5px;
		font-weight: normal;
	}
	h4 {
		border-top: 1px #dcdcde solid;
		padding-top: 40px;
		text-align: left;
		font-family: 'Plantin Bold Italique';
		font-weight: normal;
		margin: 0;
		text-transform: capitalize;
		font-size: 22px;
	}
	h5 {
		text-align: left;
		text-transform: uppercase;
		font-family: 'Apercu Bold';
		font-weight: normal;
		margin: 0;
		margin-top: 6px;
		font-size: 15px;
	}
	.echo-container {
		margin-top: 60px;
	}
	.echo-excerpt {
		font-family: 'Plantin Italique';
		font-weight: normal;
		margin: 38px 0;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.5px;
	}
	.echo-read {
		text-decoration: none;
		color: #000000;
		font-family: 'Apercu Bold';
		font-weight: normal;
		font-size: 18px;
		&.grey {
			color: #8b8b8b !important;
		}
		&.marge {
			margin: 0;
			padding: 0;
			margin-top: 90px;
		}
	}
	.echo-autor {
		font-family: 'Plantin Light';
		font-weight: normal;
		color: #a3a3a3;
		margin-top: 40px;
		font-size: 15px;
		> div {
			margin: 30px 0;
			line-height: 20px;
		}
	}
	
	.echo-last {
		color: #ffffff;
		.echo-read {
			color: #ffffff;
		}
  	}
}

.see-more {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #8b8b8b;
	font-family: 'Apercu Medium';
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 30px;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.arrow {
	display: inline-block;
	margin-top: 10px;
	transform: rotate(90deg);
}

.bg-grey {
	background-color: #f4f4f4;
}

.notices-grid {
	padding: 40px 0;
	.notice-col {
		margin-bottom: 40px;
		background-color: #ffffff;
		border: 4px solid #f4f4f4;
		transition: border 0.2s linear;
		&:hover {
			border: 4px solid #000000;
		}
	}
	h4 {
		text-transform: capitalize;
		font-size: 19px;
		overflow: hidden;
		height: 20px;
		padding: 0 15px;
		font-weight: normal;
		margin-top: 66px;
		margin-bottom: 22px;
		line-height: 20px;
	}
	h3 {
		margin-bottom: 0;
		font-weight: normal;
	}
	h5 {
		text-transform: capitalize;
		font-family: 'Harbour Light';
		font-weight: normal;
		color: #c4c4c4;
		text-align: center;
		padding: 0 0;
		font-size: 20px;
		margin: 0;
		line-height: 20px;
		margin-bottom: 30px;
	}
	a {
		display: block;
		width: 100%;
		padding: 15px 0;
		font-family: 'Apercu Bold';
		font-weight: normal;
		text-align: center;
		text-decoration: none;
		color: #000000;
		font-size: 14px;
		margin-bottom: 30px;
		span {
			padding-left: 5px;
			font-size: 16px;
			color: #c4c4c4;
		}
	}
}

.echo-main {
	background-color: #000000;
	height: 100%;
	color: #ffffff;
	position: relative;
	filter: grayscale(100%);
	.title-rotate {
		left: -22px;
		margin-top: 24%;
		float: left;
		position: relative;
		transform: rotate(-45deg);
		span {
			display: block;
			transform: rotate(45deg);
		}
		.rotate-subword {
			position: absolute;
			top: 0;
			float: left;
			margin: 0 20px;
		}
	}
	h1 {
		font-size: 53px;
		font-family: 'Harbour Light';
		font-weight: normal;
		text-transform: uppercase;
		color: #ffffff;
	}
	h2 {
		font-size: 25px;
		font-family: 'Harbour Light';
		font-weight: normal;
		text-transform: uppercase;
		color: #ffffff;
		float: right;
		margin-top: 35%;
	}
	.echo-nav {
		position: absolute;
		bottom: 80px;
		font-family: 'Harbour Light';
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 0.5;
		text-transform: capitalize;
		.margy {
			margin-top: 15px;
		}
	}
	.favorite {
  		margin-top: 30px;
  	}
}

.echo-content {
	.echo-autor {
		font-family: 'Plantin Light';
		font-weight: normal;
		color: #a3a3a3;
		margin-top: 80px;
		font-size: 15px;
		line-height: 20px;
		> div {
			margin: -2px 0;
			text-align: justify;
		}
		h4 {
			text-transform: capitalize;
			font-size: 22px;
			font-family: 'Plantin Bold Italique';
			text-align: left;
			margin-top: 18px;
		}
	}
	h3 {
		text-align: left;
		font-weight: normal;
	}
}
.edito {
	margin-top: 80px;
	margin-bottom: 80px;
	font-family: 'Plantin Italique';
	font-weight: normal;
	font-size: 20px;
	position: relative;
	line-height: 25px;
	letter-spacing: 0.5px;
	.floating {
		padding-right: 20px;
		opacity: 1;
		position: absolute;
		left: -40px;
		z-index: 10;
		text-align: justify;
	}
	.transparent {
		opacity: 0;
		z-index: -1;
		text-align: justify;
	}
	h3 {
		font-family: 'Plantin Bold Italique';
		font-size: 22px;
		line-height: 19px;
		letter-spacing: 0.5px;
		font-weight: normal;
	}
}

.echo-body {
	margin-bottom: 80px;
	text-align: justify;
	margin-top: 80px;
    column-count:3;  
    column-gap: 45px;
    font-family: 'Plantin Light';
    font-weight: normal;
    font-size: 15px;
    height: 590px;
    line-height: 20px;
    h3 {
    	font-family: 'Apercu Bold';
    	font-weight: normal;
    	font-size: 15px;
    	margin-bottom: 25px;
    	margin-top: 25px;
    }
    h2 {
		font-family: 'Apercu Bold';
		font-weight: normal;
		font-size: 14px;
		text-transform: uppercase;
		text-align: left;
		margin-top: 0;
	}
   
}

.echo-cursor {
	text-decoration: none;
	margin: 0 22.5px;
	font-family: 'Apercu Medium';
	font-weight: normal;
	font-size: 30px;
	color: #272727;
	&.active {
		color: #ffffff;
	}
}