
/***************************/
/*          Fonts         */
/**************************/

@font-face {
  font-family: 'Harbour Light';
  font-style: normal;
  font-weight: normal !important;
  src: url(../fonts/Harbour-Light.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Apercu Medium';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Apercu-Medium.otf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Apercu Bold';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Apercu-Bold.otf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}


@font-face {
  font-family: 'Plantin Light';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/PlantLight.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}


@font-face {
  font-family: 'Plantin Italique';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/PlantItalique.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}

@font-face {
  font-family: 'Plantin Bold Italique';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/PlantBoldItalique.ttf);
  text-decoration: inherit;
  text-transform: none;
  font-variant: normal;
}