
.form {
	padding: 20px;
	.field {
		padding: 10px 0;
		position: relative;
		input {
			border-bottom: 1px solid #000000;
			background: transparent;
			width: 100%;
			border: none;
			line-height: 20px;
			padding: 0;
			margin: 10px 0;
			&:focus {
				outline: 0;
			}
		}
		.border-field {
			position: absolute;
			bottom: 0;
			border-right: 1px solid #000000;
			border-left: 1px solid #000000;
			height: 3px;
			padding: 0;
			margin-bottom: 20px;
			left: 0;
			right: 0;
		}
	}

	.button {
		z-index: 100;
		position: relative;
		font-size: 12px;
		display: block;
		width: 100%;
		background: #000000;
		color: @color-grey;
		outline: 0;
		border: 0;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		user-select: none;
		box-sizing: border-box;
		transition: all .25s ease;
		cursor: pointer;
		margin: 0;
		padding: 0;
		&:hover, &:focus {
			text-decoration: underline;
			color: #fff;
		}
	}
}