.intro {
	background-color: #000000;
	background: #000000 center center no-repeat;
	height: 100%;
	top: -80px;
	position: relative;
	background: url('../../images/Slide_Before.jpg') center center no-repeat;
	opacity: 0;
	transition: opacity 1s ease-out;
	&.fade {
		opacity: 1;
	}
}

a {
	cursor: pointer;
}

header {
	z-index: 1000;
	display: block;
	position: relative;
	top: -80px;
	right: 0;
	left: 0;
	margin-bottom: 20px;
	font-size: 12px;
	background-color: @menu-bg;
	min-height: 78px;
	color: @menu-primary;
	font-family: 'Apercu Medium';
	&.show {
		top: 0;
		position: fixed;
	}
	a {
		color: @menu-primary;
	}
	.nav-brand {
		display: block;
		float: left;
		font-size: 45px;
		padding: 15px 15px 0 15px;
		margin: 0 17px;
		a {
			text-decoration: none;
		}
	}

	nav {
		margin: 0 17px;
		float: right;
		display: block;
		> ul {
			display: inline-block;
			list-style: none;
			> li {
				display: inline-block;
				> a {
					padding: 17px;
					text-transform: uppercase;
					display: block;
					text-decoration: none;
					&.active {
						text-decoration: underline;
					}
					&.mute {
						color: @menu-mute;
					}
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}
		}
		.caret {
			border-top-color: @menu-primary;
		}
	}
	&.white {
		background-color: #ffffff;
		color: #000000;
		a {
			color: #000000;
		}
		.caret {
			border-top-color: #000000;
		}
	}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
}

a.dropdown-toggle {
	display: inline-block;
	margin: 17px;
	cursor: pointer;
	text-decoration: underline;
	text-transform: capitalize;
	position: relative;
}


.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  float: right;
  display: none;
  padding: 5px 0;
  margin: -15px 0 0;
  list-style: none;
  right: 40px;

  > li {
	cursor: pointer;
    &:hover {
		text-decoration: underline;
    }
  }
}

.close {
	position: absolute;
	float: left;
	display: block;
	opacity: 1;
 	margin: 0;
 	left: 35px;
 	top: 20px;
	font-family: 'Basic Icons';
	font-style: normal;
	font-weight: bold;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	box-sizing: border-box;
	font-smoothing: antialiased;
	font-size: 1.5em;
	color: #000000;
	cursor: pointer;
	span {
		margin-left: 10px;
		opacity: 0.8;
		font-size: 0.6em;
	}
	&:before {
		content: '\e80d';
	}
}

.help {
	margin-top: 0;
	padding-top: 0 !important;
	top: 40px !important;
	h2 {
		font-family: 'Apercu bold';
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.5;
		text-transform: uppercase;
		font-weight: normal;
	}
	p {
		font-family: 'Plantin Light';
		font-size: 15px;
		line-height: 20px;
		font-weight: normal;
	}
}