
.account {
	display: none;
	position: relative;
	left: 0;
	right: 0;
	background-color: #ffffff;
	z-index: 1000;
	padding-top: 40px;
	padding-bottom: 40px;
	&.toggle {
		.container {
			display: none;
		}
	}
	h4 {
		font-size: 14px;
	}
	h3 {
		margin-top: 30px;
	}
	.close {
		top: 36px;
	}
}

.icon {
	position: absolute;
	display: block;
	padding-left: 30px;
	padding-bottom: 5px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 50px;
	&.facebook {
		background: url('../../images/facebook.jpg') no-repeat 0;
	}
	&.google {
		background: url('../../images/google.jpg') no-repeat 0;
	}
	&.twitter {
		background: url('../../images/twitter.jpg') no-repeat 0; 
	}
	&:after {
		margin-left: 20px;
	}
}

.or {
	border: 1px solid #000000;
	padding: 10px; 
	display: inline-block;
	margin-left: 40px;
}

ng-view {
	position: relative;
}