html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: @line-height;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

.main {
	height: 100%;
}

.reveal-animation {
	height: 100%;
}

.ui .link {
	text-decoration: none;
}