
.notice {
	color: #000000;
	margin-bottom: 80px;
	h1 {
		line-height: 234px;
		font-family: 'Harbour Light';
		font-size: 120px;
		position: absolute;
		font-weight: normal;
		top: 80px;
		width: 70%;
		text-align: right;
		color: #000000;
		z-index: 1;
		text-transform: capitalize;
		pointer-events: none;
	}
	img {
		position: relative;
		z-index: 0;
		filter: grayscale(100%);
		opacity: 0.3;
		transition: filter opacity z-index 0.5s linear; 
		&:hover {
			opacity: 1;
			filter: none;
			z-index: 100;
		}
	}
	.info-header {
		.small-close {

		}	
		border-bottom: #dcdcde solid 1px;
		padding: 20px 0;
	}
	.info {
		h2 {
			font-family: 'Apercu Bold';
			font-weight: normal;
			font-size: 15px;
			color: #dcdcde;
			text-transform: uppercase;
			margin: 28px 0;
		}
		.values {
			font-family: 'Plantin Light';
			font-weight: normal;
			font-size: 15px;
			color: #000000;
		}
	}

	.content {
		padding-top: 200px;
	}
	.favorite {
		float: right;
		top: 60px;
	}
	
}
.suggest {
	padding-top: 60px;
	padding-bottom: 80px;
	padding-left: 0;
	padding-right: 0;
	h3 {
		margin-bottom: 0;
		font-weight: normal;
	}
	.separate {
		margin-bottom: 0;
	}
}
.image-grid {
	margin-top: 40px;
	height: 360px;
	a {
		margin: 15px;display: block;
		filter: grayscale(100%);
		transition: filter 0.5s linear; 
		&:hover {
			filter: none;
		}
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
}

.favorite {
	font-family: 'Apercu Medium';
	font-weight: normal;
	font-size: 15px;
	display: block;
	position: relative;
	padding-left: 15px;
	text-transform: none;
	&.add {
		color: #dcdcde !important;
		background: url('/images/add.png') 0 center no-repeat;
	}
	&.remove {
		color: #000000;
		background: url('/images/valid_n.png') 0 center no-repeat;
		&.white {
			color: #ffffff;
			background: url('/images/valid_w.png') 0 center no-repeat;
		}
	}
	&:hover {
		text-decoration: underline;
	}
}

.icon-hide {
	background: url('/images/add.png') 0 center no-repeat;
	transform: rotate(45deg);
	display: relative;
	float: right;
	padding: 15px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	cursor: pointer;
	transition: transform 0.3s linear;
	&.toggle {
		transform: none;
	}
}

.notice-echo {
	margin-top: 258px;
	h2 {
		font-family: 'Apercu Bold';
		font-size: 15px;
		line-height: 19px;
		letter-spacing: 0.5;
		font-weight: normal;
	}
	p {
		font-family: 'Plantin Light';
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
	}
}

.hidden {
	display: none;
}