
/***************************/
/*      SEARCH FIELD      */
/**************************/

.search-main {
	position: absolute;
	top: -80px;
	left: 0;
	background-color: rgba(0,0,0, 1);
	opacity: 0;
	transition: opacity 1s ease-out;
	width: 100%;
	height: 0;
	z-index: 0;
	&.search-show {
		display: block;
		opacity: 0.9;
		height: 120%;
		z-index: 1000;
	}
	.form-search {
		position: relative;
		top: 20%;
		display: block;
		margin: 0 auto;
		width: 70%;
	 	input {
			position: absolute;
			top: -58px;
			left: 100px;
			display: inline-block;
			background: transparent;
			width: 90%;
			margin: 0;
			color: #fff;
			padding: 5px 10px;
			font-size: 6em;
			border: none;
			font-family: 'Harbour Light';
			&:focus {
				outline: 0;
			}
		}
	}
}

.search-field {
	display: inline-block;
	position: relative;
	border-bottom: 1px solid #fff;
	max-width: 100%;
	transition: width 0.3s;
}

.search-icon {
	position: relative;
	display: inline-block;
	opacity: 1;
	margin: 0em 0em 0em 0em;
	width: 1.40em;
	height: 0.8em;
	font-family: 'Basic Icons';
	font-style: normal;
	line-height: 0.3;
	font-weight: normal;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	box-sizing: border-box;
	font-smoothing: antialiased;
	font-size: 4.5em;
	color: #fff;
	border-right: 1px solid #fff;
	&:before {
		content: '🔍';
	}
}

.close-icon {
	position: absolute;
	display: block;
	opacity: 1;
 	margin: 0;
 	top: 20px;
 	left: 20px;
	font-family: 'Basic Icons';
	font-style: normal;
	font-weight: bold;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	box-sizing: border-box;
	font-smoothing: antialiased;
	font-size: 1.5em;
	color: #fff;
	cursor: pointer;
	span {
		margin-left: 10px;
		opacity: 0.8;
		font-size: 0.6em;
	}
	&:before {
		content: '\e80d';
	}
}

.count {
	color: #6D6D6D;
	margin-top: 40px;
	a {
		float: right;
		margin-right: 20px;
	}
}

.scroll {
	max-height: 50%;
	top: 20%;
	overflow: auto;
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.search-main ::-webkit-scrollbar {				
	width: 14px;
	height: 14px;
	background: rgba(0,0,0,1);
}

.search-main ::-webkit-scrollbar-thumb {
	border: solid 0 transparent;
}

.search-main ::-webkit-scrollbar-button {
	/*height: 20px;
	border-radius: 40%;
	background: #999999;*/
}

.search-results {
	margin-top: 100px;
	columns: 3 100px;
	.search-notices {
		a {
			color: #ffffff;
			font-size: 16px;
			font-family: 'Apercu Medium';
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}