
.slider {
	width: auto;
	background-color: #000000;
	display: block;
	position: relative;
	height: 100%;
	.slider-control {
		width: 50px;
		position: absolute;
		left: 50%;
		margin-left: -10px;
		bottom: 80px;
	}
	img {
		margin: 0 auto;
	}
	.slider-control {
		z-index: 100;
		button {
			opacity: 0.2;
			border-radius: 50%;
			position: relative;
			background: #d5d5d5;
			outline: 0;
			border: 0;
			user-select: none;
			box-sizing: border-box;
			transition: all .25s ease;
			cursor: pointer;
			margin: 0;
			padding: 5px;
			&:hover, &.active {
				color: #fff;
				opacity: 0.9;
			}
		}
	}
	.inner-slide {
		position: relative;
		top: 15%;
		h1 {
			font-family: 'Harbour Light';
			font-size: 72px;
			text-align: left;
			margin-bottom: 20px;
		}
		p {
			font-family: 'Plantin Light';
			font-size: 20px;
			text-align: justify;
			color: #ffffff;
			padding-left: 0;
			line-height: 30px;
		}
		br {
			line-height: 52px;
		}
		.btn {
			font-family: 'Apercu Bold';
			color: #ffffff;
			font-size: 15px;
			text-align: center;
			display: block;
			padding: 30px 15px;
			border: 1px solid #fff;
			position: relative;
			margin-top: 40px;
			transition: all 0.3s linear;
			margin-right: 45px;
			text-transform: uppercase;
			text-decoration: none;
			&.bottom {
				margin-top: 100%;
				margin-right: 0;
			}
			&:hover {
				background-color: #fff;
				color: #000000;
			}
		}
	}
}