body {
	font-family: 'Apercu Medium';
}

h1 {
	text-align: center;
	font-family: 'Harbour Light';
	font-size: 100px;
	color: #ffffff;
	margin: 0;
}

h3 {
	font-family: 'Harbour Light';
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}

h4 {
	font-family: 'Apercu Bold';
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

.line {
	margin: 20px;
	padding: 10px;
}