/***********************
*		COLORS 		   *
************************/

@brand-primary: #000000;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
@brand-info: #5bc0de;

@menu-bg: #000000;
@menu-primary: #d5d5d5;
@menu-mute: #8d8d8d;

@color-grey: #d5d5d5;

/***********************
*		sizes 		   *
************************/

@line-height: 78px;