<div class="search-main" ng-controller="searchController">
	<i class="close-icon" ng-click="close()"></i>
	<div class="form-search">
		<div class="search-field" auto-resize >
			<i class="search-icon"></i>
			<input type="text" gt-autocomplete complete-items="noticesSearch" ng-model="search" placeholder="" />
		</div>
		<div id="autocomplete-area"></div>
	</div>
	<div class="scroll">
		<div class="search-results">
			<div class="search-notices">
				<a ng-repeat="result in results" ng-href="/#/notices/{{ result.id }}">
					{{ result.title }}
				</a>
			</div>
		</div>

		<div class="search-results" ng-repeat="more in arrayResults">
			<div class="search-notices">
				<a ng-repeat="notice in more" ng-href="/#/notices/{{ notice.id }}">
					{{ notice.title }}
				</a>
			</div>
		</div>
		<div ng-if="count" class="count">
			{{ count }} résultats
			<a ng-click="more()">+</a>
		</div>
	</div>
</div>