<div class="container" ng-if="show">
  <div><i class="close" ng-click="showAccount()"></i></div>
  <h3 class="col-md-12">{{ 'LOGIN_TITLE' | translate }}</h3>
  <div class="line"></div>
  <div ng-switch on="account">
    <!-- LOGIN -->
    <div ng-switch-when="login">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <h4>{{ 'LOGIN_JOCONDE' | translate }}</h4>
          <form class="form" id="form">
            <div class="field">
                <div class="border-field"></div>
                <input type="mail" placeholder="{{ 'PLACEHOLDER_MAIL' | translate }}" ng-model="user.email">
            </div>
            <div class="field">
                <div class="border-field"></div>
                <input type="password" name="password" ng-model="user.password" placeholder="{{ 'PLACEHOLDER_PWD' | translate }}" id="password" />
            </div>
            <div class="field">
              <button class="button" id="login" ng-click="login()">{{ 'BUTTON_LOGIN' | translate }}</button>
            </div>
          </form>
        </div>
        <div class="col-md-2">
          <h4 class="or">{{ 'OR' | translate }}</h4>
        </div>
        <div class="col-md-4">
          <h4>{{ 'LOGIN_SOCIAL' | translate }}</h4>
          <div class="form">
            <div class="field">
               <button class="button"><span class="icon facebook"></span>Facebook</button>
            </div>
            <div class="field">
               <button class="button"><span class="icon twitter"></span>Twitter</button>
            </div>
            <div class="field">
               <button class="button"><span class="icon google"></span>Google+</button>
            </div>
          </div>
        </div>
      </div>
      <a ng-click="$parent.switchView()" class="pull-right">{{ 'SWITCH_REGISTER' | translate }}</a>
      <div class="line"></div>
    </div>
    <!-- REGISTER -->
    <div ng-switch-when="register">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4>{{ 'REGISTER_JOCONDE' | translate }}</h4>
          <form class="form" id="form" ng-submit="$parent.submit()">
            <div class="field">
                <div class="border-field"></div>
                <input type="mail" placeholder="{{ 'PLACEHOLDER_MAIL' | translate }}" ng-model="newUser.email">
            </div>
            <div class="field">
                <div class="border-field"></div>
                <input type="password" name="password" ng-model="newUser.password" placeholder="{{ 'PLACEHOLDER_PWD' | translate }}" id="password" />
            </div>
            <div class="field">
                <div class="border-field"></div>
                <input type="password" name="password" ng-model="newUser.confirm" placeholder="{{ 'PLACEHOLDER_CONFIRM' | translate }}" id="password" />
            </div>
            <div class="field">
              <button class="button" type="submit">{{ 'REGISTER_BTN' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
      <a ng-click="$parent.switchView()" class="pull-right">{{ 'SWITCH_CONNECT' | translate }}</a>
    </div>
  </div>
  
  <!-- EDIT ACCOUNT -->
  <div ng-if="!show">

  </div>
<div>