<gt-search></gt-search>
<div class="dashboard-container">
	<div class="wrapper-left">
		<div class="dashboard-menu">
			<ul>
				<li>
					<a active class="active">Sélections<span class="caret"></span></a>
					<ul class="active">
						<li ng-class="{active: displayView=='notices'}" ng-click="switchView('notices')">{{ 'MENU_NOTICES' | translate }}</li>
						<li ng-class="{active: displayView=='echo'}" ng-click="switchView('echo')">{{ 'MENU_ECHO' | translate }}</li>
						<li ng-class="{active: displayView=='notes'}" ng-click="switchView('notes')">{{ 'DASHBOARD_NOTES' | translate }}</li>
					</ul>
				</li>
				<li>
					<a active>{{ 'DASHBOARD_FOLDER' | translate }}<span class="caret"></span></a>
					<ul>
						<li>{{ 'DASHBOARD_ADDFOLDER' | translate }}</li>
						<li>{{ 'DASHBOARD_IMP' | translate }}</li>
						<li>{{ 'DASHBOARD_SCULPTURE' | translate }}</li>
					</ul>
				</li>
				<li><a active ng-click="disconnect()">{{ 'DASHBOARD_SETTINGS' | translate }}</a></li>
			</ul>
		</div>
	</div>
	<div class="wrapper-right">
		<div class="dashboard-header">
			<div class="row head">
				<h2 ng-if="displayView=='notices'" class="pull-left">{{ 'DASHBOARD_SAVES' | translate:'{value: "notices"}' }}</h2>
				<h2 ng-if="displayView=='echo'" class="pull-left">{{ 'DASHBOARD_SAVES_H' | translate:'{value: "échos"}' }}</h2>
				<div class="pull-right display">
					{{ 'DASHBOARD_DISPLAY' | translate }}
					<a ng-click="switchDisplay()" ng-class="{active: displayText}">{{ 'DASHBOARD_TEXT' | translate }}</a>
					<a ng-click="switchDisplay()" ng-class="{active: !displayText}">{{ 'DASHBOARD_VISUAL' | translate }}</a>
				</div>
			</div>
		</div>
		<div ng-if="isLoading" class="loading black"></div>
		<div class="row favorites" ng-if="!isLoading">
			<div ng-if="displayText" ng-repeat="favorite in favorites" class="col-md-4">
				<a ng-href="/#/{{displayView}}/{{ favorite.id }}" class="text">
					<h2>{{ favorite.title }}</h2>
					<h3>{{ favorite.subtitle }}</h3>
					<p>
						{{ favorite.description }}
					</p>
				</a>
			</div>
			<div ng-if="!displayText" ng-repeat="favorite in favorites" class="col-md-4" ng-class="{'img': displayView=='echo', 'col-md-4 img-notices': displayView=='notices'}">
				<a ng-href="/#/{{ displayView }}/{{ favorite.id }}">
					<div>
						<img ng-src="{{ favorite.img }}" resize-img height="{{ height }}" />
						<h2 ng-if="displayView == 'echo'">{{ favorite.title }}</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>