<div>
<form ng-submit="submit()" ng-controller="RegisterCtrl" class="ui form segment" id="form">
    <div ng-show="success" class="ui ignored success message">
      <p>{{ message }}</p>
    </div>
  	<div class="field">
        <label>Email</label>
        <div class="ui left labeled icon input">
          	<input type="mail" placeholder="email" ng-model="newUser.email">
          	<i class="user icon"></i>
          	<div class="ui corner label">
            	<i class="icon asterisk"></i>
          	</div>
        </div>
  	</div>
  	<div class="field">
        <label>Password</label>
        <div class="ui left labeled icon input">
          	<input type="password" name="password" ng-model="newUser.password" placeholder="password" id="password" />
          	<i class="lock icon"></i>
          	<div class="ui corner label">
            	<i class="icon asterisk"></i>
          	</div>
        </div>
  	</div>
  	<div class="field">
        <label>Confirm</label>
        <div class="ui left labeled icon input">
          	<input type="password" name="confirm" ng-model="newUser.confirm" placeholder="password" password-check="password" submit="submit" error="form" />
          	<i class="lock icon"></i>
          	<div class="ui corner label">
            	<i class="icon asterisk"></i>
          	</div>
        </div>
  	</div>
  	<div class="ui error message">
    	<div class="header">{{ checkPassword }}</div>
  	</div>
  	<input type="submit" class="ui black submit button" id="submit" value="Register" />
</form>
</div>