<gt-search></gt-search>

<div class="container">
	<div class="echo">
		<div class="echo-resume">
			<h3>{{ 'ECHO_TITLE' | translate }}</h3>
			<div class="separate">-</div>
			<div class="row"  ng-repeat="echo in echos">
				<div class="echo-content col-md-8">
					<h4>{{ echo.title }}</h4>
					<h5>{{ 'ECHO_NUMBER' | translate:'{value: ' + echo.id + '}' }}</h5>
					<div class="echo-excerpt">
						{{ echo.intro }}
					</div>
					<a class="echo-read" ng-href="/#/echo/{{ echo.id }}">{{ 'ECHO_READ' | translate }}</a>
				</div>
				<div class="echo-autor col-md-4">
					<h4>{{ 'ECHO_ABOUT' | translate }}</h4>
					<div>
						{{ echo.about }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>