<gt-search></gt-search>

<div class="echo-main" style="background-image: url({{ lastEcho.image }}); background-position: center center; background-repeat: no-repeat;">
	<div class="container">
		<div class="title-rotate">
			<!-- h1 center rotate="true">
				<div style="display: none;font-family: 'Harbour Light';font-size: 53px;" class="get-size">{{ wordSize }}</div>
				<rotate-text content="lastEcho.subject"></rotate-text>
			</h1> -->
		</div>
		<h2 class="col-md-5" center> <!--{{ lastEcho.subject_more }}-->
			<a ng-if="!isFavorited" ng-click="addToFavorites()" class="favorite add">
				{{ 'FAVORITE_ADDE' | translate }}
			</a>
			<a ng-if="isFavorited" ng-click="removeFromFavorites()" class="favorite remove white">
				{{ 'FAVORITE_REMOVEE' | translate }}
			</a>
		</h2>
		<div class="clearfix"></div>
		<div class="echo-nav container">
			<div class="row">
				<div class="col-md-4 margy">
				{{ 'ECHO_TITLE' | translate }}
				</div>
				<div class="col-md-2 margy">
				{{ 'ECHO_NUM' | translate }}
				</div>
				<div class="col-md-6">
					<div style="margin-left: 27px;">
						<a ng-repeat="num in cursor" class="echo-cursor" ng-href="/#/echo/{{ num }}" ng-class="{active: num==id}">{{ num | numberLen:3}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container echo-content">
	<div class="row">
		<div class="col-md-8 edito">
			<div class="floating">
				<h3>{{ lastEcho.title }}</h3>
				<span ng-bind-html="lastEcho.intro">{{ lastEcho.intro }}</span>
			</div>
			<div class="transparent">
				{{ lastEcho.intro }}
			</div>
		</div>
		<div class="echo-autor col-md-4">
			<h4>{{ lastEcho.about_title }}</h4>
			<div>
				{{ lastEcho.about }}
			</div>
		</div>
	</div>
	<div class="echo-body" ng-bind-html="lastEcho.content">
		{{ lastEcho.content }}
	</div>
</div>
<div class="bg-grey notices-grid">
	<div class="container">
		<div class="row">
			<h3>{{ 'ECHO_NOTICES' | translate }}</h3>
			<div class="separate">-</div>
		</div>
		<div class="row">
			<div class="col-md-4" ng-repeat="notice in notices">
				<div class="notice-col">
					<div class="row">
						<div>
							<img ng-src="{{ notice.img }}" resize-img height="200" width="298" />
						</div>
					</div>
					<div class="row">
						<h4>{{ notice.title | lowercase}}</h4>
					</div>
					<div class="row">
						<h5>{{ notice.subtitle | lowercase}}</h5>
					</div>
					<div class="row">
						<a ng-href="/#/notices/{{ notice.id }}">Lire<span>></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>