<gt-search></gt-search>
<div class="slider" ng-controller="HomeCtrl">
	<div class="slider-control">
		<button ng-click="article = '1';" ng-class="{active: article == 1}"></button>
		<button ng-click="article = '2';" ng-class="{active: article == 2}"></button>
		<button ng-click="article = '3';" ng-class="{active: article == 3}"></button>
	</div>

	<div ng-show="article == 1" class="animate-slider">
		<img ng-src="../../images/slider/slide_1.jpg" resize-img />
		<div class="inner-slide container">
			<div class="row">
				<h1>{{ 'NAME' | translate }}</h1>
			</div>
			<div class="row">
				<p ng-bind-html='sliderMain' class="col-md-8">
					{{ sliderMain }}
				</p>
				<div class="col-md-4">
					<a class="btn bottom" ng-href="" style="top: 65px;">{{ 'SLIDER_BTN_MAIN' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="article == 2" class="animate-slider">
		<img ng-src="../../images/slider/slide_2.jpg" resize-img />
		<div class="inner-slide container">	
			<div class="row">
				<h1>{{ 'MENU_ECHO' | translate }}</h1>
			</div>
			<div class="row">
				<p ng-bind-html='sliderEcho' class="col-md-8">
					{{ sliderEcho }}
				</p>
			</div>
			<div class="row">
				<a class="btn col-md-4" ng-href="/#/echo">{{ 'SLIDER_BTN_ECHO' | translate }}</a>
			</div>
		</div>
	</div>
	<div ng-show="article == 3" class="animate-slider">
		<img ng-src="../../images/slider/slide_3.jpg" resize-img />
		<div class="inner-slide container">
			<div class="row">
				<h1>{{ 'MENU_SEARCH' | translate }}</h1>
			</div>
			<div class="row">
				<p ng-bind-html='sliderSearch' class="col-md-8">
					{{ sliderSearch }}
				</p>
			</div>
			<div class="row">
				<a class="btn col-md-4" ng-click="openSearch()">{{ 'SLIDER_BTN_SEARCH' | translate }}</a>
				<a class="btn col-md-4" ng-href="/#/help">{{ 'SLIDER_BTN_HELP' | translate }}</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="echo">
		<div class="echo-resume">
			<h3>{{ 'ECHO_TITLE' | translate }}</h3>
			<div class="separate">-</div>
			<div class="row">
				<div class="echo-content col-md-8">
					<h4>{{ lastEcho.title }}</h4>
					<h5>{{ 'ECHO_NUMBER' | translate:'{value: ' + lastEcho.id + '}' }}</h5>
					<div class="echo-excerpt">
						{{ lastEcho.intro }}
					</div>
					<a class="echo-read" ng-href="/#/echo/{{ lastEcho.id }}">{{ 'ECHO_READ' | translate }}</a>
				</div>
				<div class="echo-autor col-md-4">
					<h4>{{ 'ECHO_ABOUT' | translate }}</h4>
					<div>
						{{ lastEcho.about }}
					</div>
					<div class="echo-read marge">{{ 'ECHO_AUTEUR_MORE' | translate }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="echos.length > 0" class="bg-black">
	<div class="container">
		<div class="echo">
			<div class="echo-last" ng-repeat="echo in echos">
				<div class="echo-container">
					<div class="row">
						<div class="echo-content col-md-8">
							<h4>{{ echo.title }}</h4>
							<h5>{{ 'ECHO_NUMBER' | translate:'{value: ' + echo.number + '}' }}</h5>
							<div class="echo-excerpt">
								{{ echo.intro }}
							</div>
							<a class="echo-read" ng-href="/#/echo/{{ echo.id }}">{{ 'ECHO_READ' | translate }}</a>
						</div>
						<div class="echo-autor col-md-4">

							<h4>{{ 'ECHO_ABOUT' | translate }}</h4>
							<div>
								{{ echo.about }}
							</div>
							<div class="echo-read grey marge">{{ 'ECHO_AUTEUR_MORE' | translate }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="see-more" ng-href="/#/echos/archives">{{ 'ECHO_ALL' | translate }}</a>
	</div>
</div>
<div ng-if="echos.length <= 0" class="container">
	<a class="see-more" ng-click="loadMore()">
		<div>{{ 'ECHO_MORE' | translate }}</div>
		<div class="arrow">></div>
	</a>
</div>
<div id="echos-bottom"></div>