<gt-search></gt-search>

<div class="container">
	<div class="notice">
		<a ng-if="!isFavorited" ng-click="addToFavorites(id)" class="favorite add">
			{{ 'FAVORITE_ADD' | translate }}
		</a>
		<a ng-if="isFavorited" ng-click="removeFromFavorites(id)" class="favorite remove">
			{{ 'FAVORITE_REMOVE' | translate }}
		</a>
		<h1>{{ title }}</h1>

		<div class="row content">
			<div class="col-md-8">
				<div class="row">
						<div class="col-md-12">
							<img ng-src="{{ images[0] }}" class="img-responsive" />
						</div>
				</div>
				<div class="row">
					<div class="col-md-6 info" ng-repeat="info in infos">
						<div class="info-header">
							<span class="icon-hide" ng-click="hide($event)" attribute="{{info.attr}}" 
								ng-class="{toggle: !noticeAttrHelper.isDisplayed(info.attr)}"></span>
						</div>
						<div class="hide-content" ng-class="{hidden: !noticeAttrHelper.isDisplayed(info.attr)}">
							<h2>{{ info.title }}</h2>
							<div class="values">
								{{ info.value }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="notice-echo">
					<h2>{{ echo.title }}</h2>
					<p ng-bind-html="echo.intro">
						{{ echo.intro }}
					</p>
				</div>
			</div>		
		</div>

	</div>
</div>
<div class="bg-grey suggest">
	<div class="row">
		<h3>{{ 'NOTICES_OTHERS' | translate }}</h3>
		<div class="separate">-</div>
	</div>
	<!-- <div class="row image-grid">
		<a ng-repeat="suggest in suggests" ng-href="/#/notices/{{ suggest.id }}">
			<img resize divided="2" ng-src="{{ imageHelper.get(suggest.notice.image)[0] }}">
		</a>
	</div> -->
	<div>
		<div ng-if="noticeLoaded" class="row image-grid">
			<div class="col-md-6">
				<a ng-href="/#/notices/{{ suggests[0].id }}">
					<img ng-src="{{ imageHelper.get(suggests[0].notice.image)[0] }}" resize-img height="360" />
				</a>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<a ng-href="/#/notices/{{ suggests[1].id }}">
							<img resize-img height="165" ng-src="{{ imageHelper.get(suggests[1].notice.image)[0] }}">
						</a>
					</div>
					<div class="col-md-6">
						<div class="row">
							<a ng-href="/#/notices/{{ suggests[2].id }}">
								<img resize-img height="67" ng-src="{{ imageHelper.get(suggests[2].notice.image)[0] }}">
							</a>
						</div>
						<div class="row">
							<a ng-href="/#/notices/{{ suggests[3].id }}">
								<img resize-img height="67" ng-src="{{ imageHelper.get(suggests[3].notice.image)[0] }}">
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<a ng-href="/#/notices/{{ suggests[4].id }}">
						<img resize-img height="165" ng-src="{{ imageHelper.get(suggests[4].notice.image)[0] }}">
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<a ng-href="/#/notices/{{ suggests[5].id }}">
							<img resize-img height="67" ng-src="{{ imageHelper.get(suggests[5].notice.image)[0] }}">
						</a>
					</div>
					<div class="col-md-6">
						<a ng-href="/#/notices/{{ suggests[6].id }}">
							<img resize-img height="67" ng-src="{{ imageHelper.get(suggests[6].notice.image)[0] }}">
						</a>
					</div>
				</div>
				<div class="row">
					<a ng-href="/#/notices/{{ suggests[7].id }}">
						<img resize-img height="260" ng-src="{{ imageHelper.get(suggests[7].notice.image)[0] }}">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>