<div ng-if="loading" class="loading-lg"></div>
<div class="intro" id="intro">
  
</div>
<header ng-class="{white: color}">
	<div class="nav-brand"><a ng-href="/#/"><img ng-src="{{ logo }}" /></a></div>

  <nav>
    <ul>
      <li><a ng-href="/#/echo">{{ 'MENU_ECHO' | translate }}</a></li>
      <li><a ng-href="/#/notices">{{ 'MENU_NOTICES' | translate }}</a></li>
      <li><a ng-click="openSearch()">{{ 'MENU_SEARCH' | translate }}</a></li>
      <li><a ng-click="showHelp()" class="mute">{{ 'MENU_HELP' | translate }}</a></li>
      <li ng-if="!isConnected"><a class="mute" ng-click="showAccount()">{{ 'MENU_ACCOUNT' | translate }}</a></li>
      <li ng-if="isConnected"><a ng-href="/#/user/dashboard">{{ 'MENU_ACCOUNT' | translate }}</a></li>
    </ul>
    <menu-translate></menu-translate>
  </nav>
</header>
<!-- <div class="clearfix"></div> -->
<user-login ng-if="account" class="account toggle account-animation"></user-login>

<div ng-if="help" class="account help-animation help">
  <div class="container">
    <div class="col-md-4">
      <h2>Comment accéder aux échos ?</h2>
      <p>
  Vous pouvez accéder depuis la page d’accueil du site à un court résumé du dernier écho publié. <br />

  Vous pouvez également accéder depuis cette dernière, aux archives des échos.<br />

  Si vous êtes sur une autre page du site, vous pourrez accéder au dernier écho publié par le biais de la barre de navigation grâce au lien <strong>« Écho »</strong>.<br />

  Un écho est une réfléxion rédigée par un professionnel du monde de l’art autour d’une œuvre ou d’un thème, regroupant ainsi à la fois œuvres et courant artistique.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Comment faire une recherche ?</h2>  
      <p>
Vous avez à votre disposition deux possiblités pour effectuer une recherche sur la base de donnée Joconde-Lab :<br />
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Si vous connaissez le nom précis de l’œuvre, du thème ou du courant artistique que vous recherchez, vous pouvez cliquez directement sur le lien <strong>« Recherche »</strong> de la barre de navigation; ou alors vous pouvez à tout moment tappez votre recherche sur votre clavier pour déclencher le champ de recherche.<br />

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Si vous avez besoin d’un peu d’aide pour trouver ce que vous cherchez car il vous manque la fin du mot, vous pouvez utiliser la section <strong>« Notices »</strong> du site pour accéder à l’annuaire des notices, par ordre alphabétique.<br />
      </p>
    </div>
    <div class="col-md-4">
      <h2>Comment sélectionner une œuvre ?</h2>
        <p>
Pour sélectionner une œuvre et pouvoir la retrouver, la partager à n’importe quel moment avec vos amis, vos devez auparavant vous connecter sur le site Joconde-Lab en cliquant sur le lien <strong>« Mon Compte »</strong> de la barre de navigation.<br />

Si vous n’êtes pas inscrit, la section <strong>«Mon Compte»</strong> vous propose de le faire par le biais de plusieurs méthodes:<br />

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• En créant un compte Joconde-Lab par le biais d’une inscription avec votre adresse Email.<br />

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• En vous connectant grâce à un compte du réseau social de votre choix(Facebook, Twitter ou Google+)
      </p>
    </div>
  </div>
</div>
