<a class="dropdown-toggle">{{ currentLanguage }}<span class="caret"></span></a>
<ul class="dropdown-menu">
	<li ng-repeat="language in languages" ng-click="change(language)">
		{{ language }}
	</li>
</ul>